<a href="https://colab.research.google.com/github/natank-rpe/Pemrograman-Dasar/blob/main/Praktikum_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# deklarasi variabel list
numbers = [23, 43, 15, 34]
# cara mengakses elemen dalam variabel list
numbers[0]
numbers[1]
numbers[2]
numbers[3]
# cara mengubah nilai elemen dalam variabel list
numbers[2]
numbers[2]

print (numbers[2])

43

In [ ]:
# deklarasi variabel list numbers
numbers = [1, 2, 3]

# menambahkan elemen di indeks ke-4
numbers.insert(4, 5)    #[1, 2, 3, 5]

# mengubah elemen di indeks ke-4
numbers[3] = 4    #[1, 2, 3, 4]

# menghapus elemen di indeks ke-2
numbers.pop(2)    #[1, 2, 4]

#print lalu lihat hasilnya

3

In [ ]:
# deklarasi variabel list
myList = [1, "Rumah", 4.5, True, ["Kamar mandi", "Kamar tidur"]]

# cara mengakses elemen dalam variabel list
myList[0]   # 1
myList[1]   # "Rumah"
myList[3]   # True
myList[4]   # ["Kamar mandi", "Kamar tidur"]

# cara mengakses elemen dalam sublist
myList[4][0]    # "Kamar mandi"
myList[4][1]    # "Kamar tidur"

# print lihat hasilnya

'Kamar tidur'

In [8]:
# Slicing List
x = ["laptop", "monitor", "mouse", "mousepad", "keyboard", "webcam", "microphone"]

print(x[0:5:2])
print(x[1:])
print(x[:3])

['laptop', 'mouse', 'keyboard']
['monitor', 'mouse', 'mousepad', 'keyboard', 'webcam', 'microphone']
['laptop', 'monitor', 'mouse']

In [ ]:
# Tuple
x = (1, "Polibatam", 1+3j)
print(type(x))

<class 'tuple'>

In [ ]:
# Indexing Tuple
x = (5, 'program', 1+3j)
print (x[1])
print (x[0:3])

program
(5, 'program', (1+3j))

In [ ]:
# Immutable Tuple
x = (5,'program', 1+3j)
x[1] = 'Polibatam'

TypeError: 'tuple' object does not support item assignment

In [2]:
# deklarasi variable tuble
numbers = (23, 43, 15, 34)

# cara mengakses elemen dalam variabel tuple
numbers[0]    # 23
numbers[1]    # 43
numbers[2]    # 15

# print lalu lihat hasilnya

15

In [9]:
# Set
# deklarasi variabel set a dan b
a = {1, 2, 3}
b = {2, 3, 4}

# operasi gabungan
a.union(b)  #{1, 2, 3, 4}

# operasi irisan
a.intersection(b) #{2, 3}

# operasi perbedaan
a.symmetric_difference(b) #{1, 4}

#lakukan print dan lihat hasilnya

{1, 4}

In [11]:
# Dictionary

x = {'name': 'Natanael Ketaren', 'age': 23, 'isMarried': False}

print(type(x))

<class 'dict'>

In [13]:
# Dictionary

x = {'name': 'Natanael Ketaren', 'age': 23, 'isMarried': False}

print(x[0])

KeyError: 0

In [16]:
# Dictionary

x = {'name': 'Natanael Ketaren', 'age': 23, 'isMarried': False}

print(x['isMarried'])

False

In [19]:
# Dictionary (Menambah Data)

x = {'name': 'Natanael Ketaren', 'age': 23, 'isMarried': False}
x['Job'] = 'Web Developer'

print(x)

{'name': 'Natanael Ketaren', 'age': 23, 'isMarried': False, 'Job': 'Web Developer'}

In [21]:
# Dictionary (Menghapus Data)

x = {'name': 'Natanael Ketaren', 'age': 23, 'isMarried': False}
del x['isMarried']

print(x)

{'name': 'Natanael Ketaren', 'age': 23}

In [22]:
# Dictionary (Mengubah Data)

x = {'name': 'Natanael Ketaren', 'age': 23, 'isMarried': False}
x['name'] = 'Nathan'

print(x)

{'name': 'Nathan', 'age': 23, 'isMarried': False}

In [25]:
# Dictionary

# deklarasi variabel dicitionary
propertyDetail = {"numFloors": 1, "propertyType": "Rumah", "hasTerrace": True, "hasGarrage": False}

# cara mengakses elemen dalam variabel dictionary
propertyDetail["numFloors"]     # 1
propertyDetail["propertyType"]  # "Rumah"
propertyDetail["hasTerrace"]    # True
propertyDetail["hasGarrage"]    # False

#cara mengubah nilai elemen dalam variabel dicitonary
propertyDetail["hasTerrace"] = False

propertyDetail["hasTerrace"]    # False

#print(propertyDetail["propertyType"])

#lakukan print lalu amati hasilnya

False