<a href="https://colab.research.google.com/github/natank-rpe/Pemrograman-Dasar/blob/main/Pertemuan_05-Latihan_Praktikum_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
print("--- Soal 1 ---")
# Mencetak bilangan ganjil 1 hingga 9
for angka in range(2, 51, 2):
    print(angka)

--- Soal 1 ---
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [8]:
print("--- Soal 2 ---")
nim_berhenti = 4232411001
input_pengguna = 0 # Inisialisasi awal

while input_pengguna != nim_berhenti:
    try:
        input_pengguna = int(input("Masukkan NIM (ketik NIM untuk berhenti): "))
    except ValueError:
        print("Input tidak valid. Harap masukkan angka.")

print(f"Perulangan telah dihentikan karena NIM {nim_berhenti} dimasukkan.")

--- Soal 2 ---
Masukkan NIM (ketik NIM untuk berhenti): a
Input tidak valid. Harap masukkan angka.
Masukkan NIM (ketik NIM untuk berhenti): 4232411001
Perulangan telah dihentikan karena NIM 4232411001 dimasukkan.

In [9]:
print("--- Soal 3 ---")
harga_barang = [15000, 25000, 10000, 5000, 7000, 6000, 12000, 30000, 35000, 2000]
total_belanja = 0

for harga in harga_barang:
    total_belanja += harga

print("Total biaya belanja adalah:", total_belanja)

--- Soal 3 ---
Total biaya belanja adalah: 147000

In [25]:
print("--- Soal 4 ---")
percobaan_maksimal = 3
percobaan_saat_ini = 1
passWord = "IU CANTIK"

while percobaan_saat_ini <= percobaan_maksimal:
    print(f"Percobaan ke-{percobaan_saat_ini}...")
    input_user = input("Masukkan password: ")

    if input_user == passWord:
        print("Akses diterima.")
        break
    else:
        print("Password salah.")
        percobaan_saat_ini += 1

if percobaan_saat_ini > percobaan_maksimal:
    print("Kesempatan habis. Akses ditolak.")

--- Soal 4 ---
Percobaan ke-1...
Masukkan password: IU JAHAT
Password salah.
Percobaan ke-2...
Masukkan password: IU APA YA
Password salah.
Percobaan ke-3...
Masukkan password: IU CANTIK
Akses diterima.

In [26]:
print("--- Soal 5 ---")
nama_kampus = "Politeknik Negeri Batam"
hasil_output = ""

for karakter in nama_kampus:
    hasil_output += karakter + "-"

print(hasil_output) # Output: P-R-A-K-T-I-K-U-M-

--- Soal 5 ---
P-o-l-i-t-e-k-n-i-k- -N-e-g-e-r-i- -B-a-t-a-m-

In [27]:
print("--- Soal 6 ---")
# Modifikasi countdown dimulai dari 255
for i in range(255, 0, -1):
    print(i)

--- Soal 6 ---
255
254
253
252
251
250
249
248
247
246
245
244
243
242
241
240
239
238
237
236
235
234
233
232
231
230
229
228
227
226
225
224
223
222
221
220
219
218
217
216
215
214
213
212
211
210
209
208
207
206
205
204
203
202
201
200
199
198
197
196
195
194
193
192
191
190
189
188
187
186
185
184
183
182
181
180
179
178
177
176
175
174
173
172
171
170
169
168
167
166
165
164
163
162
161
160
159
158
157
156
155
154
153
152
151
150
149
148
147
146
145
144
143
142
141
140
139
138
137
136
135
134
133
132
131
130
129
128
127
126
125
124
123
122
121
120
119
118
117
116
115
114
113
112
111
110
109
108
107
106
105
104
103
102
101
100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [29]:
print("--- Soal 7 ---")
kelurahan_batam = ["Teluk Tering", "Lubuk Baja", "Belian", "Sungai Panas"]

for i, nama in enumerate(kelurahan_batam):
    print(f"Kelurahan ke-{i + 1}: {nama}")

--- Soal 7 ---
Kelurahan ke-1: Teluk Tering
Kelurahan ke-2: Lubuk Baja
Kelurahan ke-3: Belian
Kelurahan ke-4: Sungai Panas

In [34]:
print("--- Soal 8 ---")
data_angka = [10, 20, 30, -1, 0, 50, 60]

for angka in data_angka:
    if angka == 0:
        print(f"Angka: {angka}")
        print("Angka 0 ditemukan!")
        break

    print(f"Angka: {angka}")

--- Soal 8 ---
Angka: 10
Angka: 20
Angka: 30
Angka: -1
Angka: 0
Angka 0 ditemukan!

In [35]:
print("--- Soal 9 ---")
total = 0
bilangan = 1
batas = 20

while total <= batas:
    total += bilangan
    bilangan += 1

print("Total terakhir:", total)

--- Soal 9 ---
Total terakhir: 21

In [40]:
print("--- Soal 10 ---")
jumlah_baris = 3

for baris in range(jumlah_baris):
    baris_teks = ""
    for kolom in range(1):
        baris_teks += "Python"
    print(baris_teks)

# Output:
# Python
# Python
# Python

--- Soal 10 ---
Python
Python
Python